@media (max-width: 650px) {
  .container{
    width:95%;
  }

  .social ul{
    text-align:left;
  }

  .social .fa-facebook, .social .fa-rss, .social .fa-twitter, .social .fa-youtube {
    padding: 10px 14.6px;
  }

  nav.headerNav div{
    width:100%;
    margin-bottom:10px;
    padding:10px;
  }

  .slides{
    height:200px;
  }

  .slides img {
    zoom: 50%;
  }

  .recentPosts{
    height:auto;
  }

  .post{
    width:100%;
    margin:0 0 10px 0;
  }

  .recentPosts .post:nth-child(even){
    margin:0 0 10px 0;
  }

  .postContent p{
    display:none;
  }

  .skaterGrid .left75{
    width:100%;
  }

  .skaterGrid .right25{
    width:100%;
  }

  .skater3{
    background-size:130%;
  }

  .deckWrap{
    width:32%;
  }

  .contactLeft, .contactRight{
    position:relative;
    width:100%;
  }

  .contactWrap{
    min-height:550px;
  }
  
  .contactLeft{
    height:initial;
  }
}
