
nav.headerNav{
  margin:0 auto;
  position:relative;
  text-align:center;
  margin:20px 0;
}

.headerNav span {
    display: inline-block;
    height: 3px;
    width: 7%;
    background: white;
    vertical-align: middle;
    margin: 0 10px 0px 10px;
}

nav.headerNav div{
  display:inline-block;
  width: 24.64%;
  background-color: #B4292E;
  padding: 1% 0;
  box-shadow: 0px 5px 0px 0px rgba(255,255,255,0.35);
  transition:.2s all;
  color:white;
  font-weight:normal;

	a{
	  text-decoration: none;
	  text-transform:uppercase;
	  color:inherit;
	  font-weight:normal;
	}
		&:hover{
		  background-color: #EE1C25;
		  transform: translate3d(0px, -3%,3em) scale(1.01);
		  box-shadow: 0px 0px 50px rgba(0,0,0,.5);
		  color:#ffffff;
		  font-weight:normal;
		}
}
