.recentPosts{
  display:block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-bottom:50px;
}

.post{
  height:auto;
  display: inline-block;
  width: 32.7%;
  vertical-align:top;

  h1{
    margin:0;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.25em;
  }
}

.postContent {
    position: relative;
    color:#464646;
}

.recentPosts .post:nth-child(even) {
    margin: 0 5px;
}

.postContent {
  p {
    font-size: .75em;
    line-height:2em;
  }
}

p.meta{
  color:#B9B9B9;
  padding: 15px 0;
}

a.Content {
  color: #252525;
  background-color:white;
  text-align: left;
  display: block;
  text-decoration: none;
  transition:.2s all;
  box-shadow:0px 5px 0px 0px rgba(255,255,255,0.35);
  padding:20px 30px;

  &:hover {
    transform: translate3d(0px, -15%, 3em) scale(1.01);
    box-shadow: 0px 0px 50px rgba(0,0,0,.5);
  }
}

span.link {
  color: #EE1C25;
  font-size: .9em;
  font-weight: 600;
  display: block;
  width: 100%;
  padding-top: 3%;
  text-align:center;
}

.Content{
  width: 100%;
  display: block;
}

.arrowWrap {
    position: absolute;
    left: -12%;
}

.arrow {
  position: relative;
  width:250px;
  background: #B4292E;
  height:70px;
  line-height: 70px;
  margin-bottom:30px;
  text-align:center;
  color:#fff;
  font-size: 2em;
  font-weight: 600;

  &:after {
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 20px solid #B4292E;
  }
}
