@media (max-width: 959px) {
  .container{
    width:95%;
  }
  .recentPosts{
    height:auto;
  }
  .post{
    width:49.6%;
    margin-bottom:10px;
  }
  .recentPosts .post:nth-child(even){
    margin:0;
  }
  .postContent p{
    display:none;
  }

}
