*, *:after, *:before {
    box-sizing: border-box;
  }
*{
  margin:0;
  padding:0;
  clear:both;
}
.container{
  margin:0 auto;
  width:80%;
  padding-top:7px;
  padding-bottom:50px;
}
.noContain{
  width:initial !important;
}
body{
  font-family: 'Open Sans', sans-serif;
  background:
  linear-gradient(
  rgba(0, 0, 0, 0.45),
  rgba(0, 0, 0, 0.45)
),
  url("../img/bg.jpg");
  background-size:cover;
  color:white;
  background-attachment:fixed;
}
/*
////Social Nav////
*/
.social ul{
  position:relative;
  right:0;
  text-align:right;
  vertical-align:middle;
}
.social li{
  display:inline;
  list-style:none;
}
.social li:first-child{
  padding-right:5%;
  font-weight:100;
  font-size:.75em;
  text-transform:uppercase;
}
.social li:nth-child(2){
  display: inline-block;
  transform: rotate(90deg);
  font-size: 1.4em;
}
.social .fa-facebook,
.social .fa-rss,
.social .fa-twitter,
.social .fa-youtube
{
  padding: 14px 16px;
  font-size: 2em;
  box-shadow: 0px 5px 0px 0px rgba(255,255,255,0.35);
  color: rgba(255,255,255,0.5);
  transition: .2s all;
  margin-left: 1%;
}
.social .fa-circle{
  border-bottom:;none;
  font-size: 5px;
  vertical-align: middle;
  padding: 1%;

}
.social .fa-facebook{
  background-color:#445897;
}
.social .fa-rss{
  background-color:#CC8F32;
}
.social .fa-twitter{
  background-color:#6A8DC7;
}
.social .fa-youtube{
  background-color:#B2382D;
}
.social i:hover{
  color:white;
  transform:scale(.9);
}
/*
////Header Nav////
*/
#rectangle {
	width: 200px;
	height: 100px;
	background: red;
}
nav.headerNav{
  margin:0 auto;
  position:relative;
  text-align:center;
  margin:20px 0;
}
.headerNav span {
    display: inline-block;
    height: 3px;
    width: 7%;
    background: white;
    vertical-align: middle;
    margin: 0 10px 0px 10px;
}
nav.headerNav div{
  display:inline-block;
  width: 24.64%;
  background-color: #B4292E;
  padding: 1% 0;
  box-shadow: 0px 5px 0px 0px rgba(255,255,255,0.35);
  transition:.2s all;
  color:white;
  font-weight:normal;
}
nav.headerNav div a{
  text-decoration: none;
  text-transform:uppercase;
  color:inherit;
  font-weight:normal;
}
nav.headerNav div:hover{
  background-color: #EE1C25;
  transform: translate3d(0px, -3%,3em) scale(1.01);
  box-shadow: 0px 0px 50px rgba(0,0,0,.5);
  color:#ffffff;
  font-weight:normal;
}
/*
////Slider////
*/
section.slider{
  display:block;
  width:100%;
  position:relative;
  box-shadow: 0px 5px 0px 0px rgba(255,255,255,0.35);

}
.logoOverlay img{
  width: 39.5%;
  position: absolute;
  left: 3%;
  top: 17%;
  z-index:1000;
}
.slides{
  width:100%;
  height:356px;
  box-sizing:border-box;
  border: 10px solid;
  overflow: hidden;
  position:relative;
}
.slides img{
  zoom:85%;
  position: absolute;
  top: 0;
  left: -90px;
  top: -150px;
}
.slides span img{
  opacity:.3;
  zoom:100%;
}
.sliderControls{
  margin-top:1%;
}
.sliderControls .controls{
  display:block;
  text-align:center;
}
.sliderControls span{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 16px 5px 24px 10px;
  border-radius: 100%;
  background: #ffffff;
  transition:.2s all;
}
.sliderControls span:hover {
    background: red;
    box-shadow: inset 0px 0px 0px 5px white;
    transform:scale(1.1);
}
.sliderControls span:first-child {
    background: red;
    box-shadow: inset 0px 0px 0px 5px white;
}
/*
////Three-Up Posts////
*/
.recentPosts{
  display:block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-bottom:50px;
}
.post{
  height:auto;
  display: inline-block;
  width: 32.7%;
  vertical-align:top;
}
.postContent {
    position: relative;
    color:#464646;
}
.recentPosts .post:nth-child(even) {
    margin: 0 5px;
}
.post h1{
  margin:0;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.25em;
}
.postContent p {
    font-size: .75em;
    line-height:2em;
}
p.meta{
  color:#B9B9B9;
  padding: 15px 0;
}
a.Content {
  color: #252525;
  background-color:white;
  text-align: left;
  display: block;
  text-decoration: none;
  transition:.2s all;
  box-shadow:0px 5px 0px 0px rgba(255,255,255,0.35);
  padding:20px 30px;
}
a.Content:hover {
  transform: translate3d(0px, -15%, 3em) scale(1.01);
  box-shadow: 0px 0px 50px rgba(0,0,0,.5);
  }
span.link {
  color: #EE1C25;
  font-size: .9em;
  font-weight: 600;
  display: block;
  width: 100%;
  padding-top: 3%;
  text-align:center;
}
.Content{
  width: 100%;
  display: block;
}

.arrow {
  background: red;
  display: inline-block;
  height: 55px;
  margin-left: 20px;
  margin-top: 55px;
  position: absolute;
  width: 100px;
  transform:rotate(90deg);
  left:-20px;
}
.arrow:before {
  border-bottom: 35px solid red;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;
}
.arrow h1 {
    transform: rotate(-90deg);
    position:relative;
  }
  /*
  ////Skater Grid////
  */
.skaterGrid{
  height:500px;
  width:100%;
  display:block;
}
.skaterGrid h1 {
  text-align:center;
  font-weight: 800;
  text-transform: uppercase;
  position:relative;
  margin:0;
  font-size: 2em;
  line-height: 1em;
}
.left75{
  height:inherit;
  display:inline-block;
  width:74.5%;
}
.leftRow{
  display:inline-block;
  height:247.5px;
  width:100%;
  box-sizing:border-box;
  position:relative;
}
.leftRowWrap{
  display:block;
  box-sizing:border-box;
  height:inherit;
}
.left50-1, .left50-2{
  display:inline-block;
  width:49.7%;
  height:inherit;
  box-sizing:border-box;
}
.left50-2{
  position: absolute;
  right: 0%;
}
.rightRow{
  height:inherit;
}
.right25{
  height:inherit;
  display:inline-block;
  width:25%;
  box-sizing:border-box;
  vertical-align:top;
}
.box-50, .left-box, .right-box{
  border:5px solid white;
  height:inherit;
  overflow:hidden;
}
.skater1,
.skater2,
.skater3,
.skater4{
  height:inherit;
  background-size:cover;
  background-repeat:no-repeat;
  transition:.2s all;
}
.skater1:hover,
.skater2:hover,
.skater3:hover,
.skater4:hover{
  background-blend-mode:exclusion;
  background-color:#865C5E;
  transform: translate3d(0px, -3%,3em) scale(1.01);
  box-shadow: 0px 0px 50px rgba(0,0,0,.5);
}
.skater1{
  background-image: url("../img/sk8er-4.png");
  background-position:100%;
}
.skater1 h1, .skater2 h1, .skater3 h1, .skater4 h1{
  top:45%;
}
.skater2{
  background-image: url("../img/sk8er-3.png");
  background-position:0%;
}
.skater3{
  background-image: url("../img/sk8er-1.png");
  background-position: 0;
  background-size: 110%;
}
.skater4{
  background-image: url("../img/sk8er-2.png");
  background-position: 75% 0%;
}
.left50-1 .box- img{
  zom:2;
}
/*
////Deck Grid////
*/
.deckGrid{
  margin-top:50px;
  background:white;
  max-height:500px;
  box-sizing:border-box;
  box-shadow: 0px 5px 0px 0px rgba(255,255,255,0.35);
}
.deckWrap{
  width:9.6%;
  height:inherit;
  display:inline-block;
  padding:10px;
}
.deck{
  text-align:center;
}
/*
////Contact Section////
*/
.contactWrap{
  background:white;
  display:block;
  position:relative;
  margin-top:50px;
  box-shadow: 0px 5px 0px 0px rgba(255,255,255,0.35);
  color:blue;
  height:320px;
  color:#464646;
}
.contactLeft{
  width:50%;
  position:absolute;
  left:0;
  height:inherit;
  padding:35px;
}
.contactRight{
  width:50%;
  position:absolute;
  right:0;
  height:inherit;
  padding:35px;
}
.contactRight input, .contactRight textarea{
  width:100%;
  border: 1px solid #ABABAB;
  margin: 5px 0px;
  box-shadow: inset 3px 3px 0px #D4D1D1;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: gray;
  outline:none;
}
.contactRight textarea{
  height:auto;
  resize:none;
}
.contactWrap button {
  border: none;
  color: white;
  background-color: #B4292E;
  padding: 10px 50px;
  float: right;
  transition:.2s all;
  margin-top:20px;
}
.contactWrap button:hover{
  background-color: #EE1C25;
  color:#ffffff;
}
.contactLeft h3 {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 1.4em;
}
.contactWrap p {
    font-size: .9em;
    line-height: 2em;
