*{
  margin:0;
  padding:0;
}
.container{
  margin:0 auto;
  width:70%;
  padding-top:1%;
}
body{
  font-family: 'Open Sans', sans-serif;
  background:
  linear-gradient(
  rgba(0, 0, 0, 0.45),
  rgba(0, 0, 0, 0.45)
),
  url("../img/bg.jpg");
  background-size:cover;
  color:white;
}
.social ul{
  position:relative;
  right:0;
  text-align:right;
  vertical-align:middle;
}
.social li{
  display:inline;
  list-style:none;
}
.social li:first-child{
  padding-right:5%;
  font-weight:100;
  font-size:.75em;
  text-transform:uppercase;
}
.social .fa-facebook,
.social .fa-rss,
.social .fa-twitter,
.social .fa-youtube
{
  padding: 2% 3%;
  font-size: 1.5em;
  border-bottom: 2px solid red;
  color: rgba(255,255,255,0.5);
  transition:.2s all;
}
.social .fa-circle{
  border-bottom:;none;
  font-size: 5px;
  vertical-align: middle;
  padding: 1%;

}
.social .fa-facebook{
  background-color:green;
}
.social .fa-rss{
  background-color:orange;
}
.social .fa-twitter{
  background-color:purple;
}
.social .fa-youtube{
  background-color:indigo;
}
.social i:hover{
  color:white;
}
#rectangle {
	width: 200px;
	height: 100px;
	background: red;
}
nav.headerNav{
  margin:0 auto;
  position:relative;
  text-align:center;
  margin:3% 0;
}
nav.headerNav li{
  display:inline;
  list-style:none;
}
.headerNav span {
    display: inline;
    height: 5px;
    width: 3px;
    background: white;
}
nav.headerNav div{
  display:inline-block;
  width: 24.64%;
  background-color: red;
  padding: 1% 0;
  border-bottom: 5px solid gray;
}
nav.headerNav div a{
  background:red;
  text-decoration: none;
  color: white;
  text-transform:uppercase;
}
section.slider{
  display:block;
  width:100%;
  position:relative;
}
.logoOverlay img{
  width:20%;
}
.slides{
  width:100%;
  height:300px;
  border: 3px solid;
  overflow: hidden;
}
.slides img{
  display:block;
  zoom:100%;
}
